#wpadminbar .ab-top-menu #wp-admin-bar-admin-quick-search:hover > .ab-item,
#wpadminbar .ab-top-menu > #wp-admin-bar-admin-quick-search.hover > .ab-item {
	background: none;
	color: #656565;
}
#adminqs {
	text-shadow: none;
	height: 22px;
	padding: 3px 6px;
	margin: 2px 0;
	line-height: 20px;
	color: #aaa;
	background: #656565;
	border-color: #393939;
	border-top-color: #404040;
	box-shadow: inset 0 0 2px rgba(0,0,0,.5);
}
#adminqs:focus {
	box-shadow: 0 0 7px rgba(0,0,100,.8);
}
#wpadminbar .adminqs-list a {
	padding: 3px 18px;
	white-space: nowrap;
	overflow: hidden;
}